<!-- Represents the main game board. -->
<div class="board">

  <!--  Container for the dealer's section, including the dealer's board and the main deck. -->
  <div class="dealer__container">

    <!-- Represents the dealer's area on the board. -->
    <div class="dealer">

      <!-- Displays the dealer's name and crown icon. -->
      <div class="board__name">
        <img class="dealer__crown" src="/assets/images/crown-icon.png" [height]="isMobile ? 40 : 60">
        <span>DEALER</span>
      </div>

      <!-- Custom component to display the dealer's deck of cards. -->
      @if (dealerDeck.cards.length) {
        <bj-deck-cards
          [deck]="dealerDeck"
          [distanceBetween]="40"
          [cardWidth]="isMobile ? 70 : 90"
          [showTotal]="gameHasFinished"
        ></bj-deck-cards>
      }
    </div>

    <!-- Represents the main deck of cards on the board. -->
    <div class="main-deck">

      <!-- Displays the dealer's name and crown icon. -->
      <div class="board__name">
        <span>MAIN DECK</span>
      </div>

      <!-- Custom component to display the main deck of cards. -->
      <bj-deck-cards
        [deck]="mainDeck"
        [spreadLayout]="true"
        [cardWidth]="isMobile ? 60 : 80"
        [distanceBetween]="isMobile ? 5 : 8"
      ></bj-deck-cards>

    </div>
  </div>

  <!-- Represents the player's section on the board. -->
  <div class="player">

    <!-- Displays the player's name. -->
    @if (playerDeck.playerName) {
      <div class="player__name">
        <small>Player</small>
        <span>{{ playerDeck.playerName }}</span>
      </div>
    }

    <!-- Displays the player's deck of cards. -->
    @if (playerDeck.cards.length) {

      <!-- Custom component to display the player's deck of cards. -->
      <div class="player__deck">
        <bj-deck-cards
          [deck]="playerDeck"
          [distanceBetween]="60"
          [cardWidth]="isMobile ? 90 : 140"
          [showTotal]="true"
        ></bj-deck-cards>
      </div>
    }

    <!-- Contains the player's action buttons (Hit and Stand). -->
    <div class="player__actions actions">

      <!-- Button to draw a card. Disabled if the game hasn't started or has finished. -->
      <bj-button
        class="actions__hit"
        (click)="drawCard()"
        [disabled]="!gameHasStarted || gameHasFinished"
      >
        <bj-icon>sim_card_download</bj-icon>
        Hit
      </bj-button>

      <!-- Button to stand. Disabled if the game hasn't started or has finished. -->
      <bj-button
        class="actions__stand"
        (click)="stand()"
        [disabled]="!gameHasStarted || gameHasFinished"
      >
        <bj-icon>swipe</bj-icon>
        Stand
      </bj-button>

    </div>
  </div>
</div>
